*.swp
*.o
*.so
core
.gitignore
tclconfig
Makefile
autom4te.cache
config.log
config.status
configure
pkgIndex.tcl
doc/hyprdom.n
tags
debug.sh
memdebug.sh
optimised.sh
perf.data
perf.data.old
last
parsers/*.c
parsers/*.h
cg.out
lemon/
lexers/
prof/
tools/bin/
